.searchResult {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 250px;
  margin-top: 5px;
}
.searchResult > img {
  width: 150px;
  height: 150px;
  margin: auto;
  transition: 0.7s;
}
.searchResult > img:hover {
  -webkit-transform: translate3d(0, -5px, 0);
  transform: translate3d(0, -5px, 0);
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  -moz-border-radius: 190px;
  -webkit-border-radius: 190px;
  border-radius: 190px;
}
.searchResult > h3 {
  text-align: center;
}
.seeProfile {
  text-decoration: none;
  color: darkorchid;
  margin: auto;
}
